@import "../../../../variable";

.container {
  max-width: 630px;
  width: 100%;
  margin: 0 10px;
}

.title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $yellow;
  color: $yellow;
  font-size: 1.5rem;
  font-family: $font-family2;
}

.knobs {
  display: flex;
  align-items: center;
  padding: 10px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  @include respond-to(">small") {
    justify-content: space-evenly;
    overflow-x: hidden;
  }
}
