.ocean { 
  height: 20%;
  width:100%;
  position:absolute;
  bottom:-100px;
  left:0;
  background: rgb(56,86,118);
}

.wave {
  background: url(https://firebasestorage.googleapis.com/v0/b/minjunportfolio.appspot.com/o/wave_mj_2.svg?alt=media&token=ccc22316-c2a2-4d58-a62e-52feb66b9840) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 199px;
  animation: wave 8s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: .5;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

