.container {
  width: 70%;
  height: 50px;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: flex-start;
}
.menu div {
  margin-right: 30px;
  cursor: pointer;
}

.social_contacts {
  display: flex;
}
.social_contacts svg {
  margin-right: 10px;
  cursor: pointer;
}