$blue: rgb(56,86,118);
$yellow: rgb(231,176,12);
$light-grey: rgb(188,190,192);
$grey: rgb(147,149,152);

$breakpoints: (
  '>small':  ( min-width:  767px ),
  '<small':  ( max-width:  767px ),
  '>medium': ( min-width:  992px ),
  '<medium': ( max-width:  992px ),
  '>large':  ( min-width: 1200px ),
  '<large':  ( max-width: 1200px ),
) !default;

// gulim
$font-family1: Arial;
// gungseo
$font-family2: Arial;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}